.body {
  font-family: "Roboto", sans-serif;
}
:root {
  --brand-color: #212121;
  --link-button-color: #2196f3;
  --note-link-color: #757575;
  --background-color-menu: #2f303a;
  --title-color2: #000000;
  --text-color-white: #ffffff;
  --footer-address-color: #ffffff99;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1200px;
  padding: 0;
  margin: 0 auto;
}
.section {
  padding: 94px 0;
}
img {
  display: block;
}
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ececec;
}
.title-color1 {
  color: var(--link-button-color);
  font-weight: 700;
}
.title-color2 {
  color: var(--title-color2);
}
.title-color3 {
  color: var(--text-color-white);
}
.web-title {
  display: block;
  padding: 24px 0px 25px 0px;
  text-decoration: none;
  font-size: 26px;
}
.top-menu {
  display: flex;
  list-style: none;
}
.top-menu > .menu-nav:not(:last-child) {
  margin-right: 46px;
}
.top-menu > .menu-link:not(:last-child) {
  margin-right: 50px;
}
.link:focus,
.link:hover {
  color: var(--link-button-color);
  text-decoration: none;
}
.address-footer:focus,
.address-footer:hover {
  color: var(--link-button-color);
  text-decoration: none;
}
.link {
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  color: var(--note-link-color);
  font-style: normal;
}
.address {
  font-size: 14px;
  font-style: normal;
  color: var(--text-color-white);
}
.menu-nav:focus,
.menu-nav:hover {
  color: var(--link-button-color);
  text-decoration: none;
}
.menu-nav {
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  color: var(--brand-color);
}
.button-entry:hover,
.button-entry:focus {
  background-color: var(--link-button-color);
  color: var(--text-color-white);
  border-color: var(--link-button-color);
}
.button-task:hover,
.button-task:focus {
  background-color: var(--link-button-color);
  color: var(--text-color-white);
  border-color: var(--link-button-color);
}
.button-entry {
  cursor: pointer;
  width: 200px;
  height: 50px;
  margin-top: 30px;
}
.bg-entry {
  background-color: var(--background-color-menu);
  color: var(--text-color-white);
  font-weight: 900;
  height: 600px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(main-page-bg.jpg);
}
.h1 {
  font-size: 44px;
  line-height: 1.5;
  text-align: center;
}
.main-page-card-set {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 94px;
}
.main-page-card h4 {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;
}
.main-page-card p {
  color: var(--note-link-color);
  font-size: 14px;
  line-height: 1.7;
}
.h2-what-we-do {
  font-weight: 700;
  font-size: 36px;
  display: flex;
  justify-content: center;
  margin-top: 94px;
}
.what-we-do-img {
  list-style: none;
  display: flex;
  margin-top: 50px;
}
.what-we-do-img > .what-we-do-list:not(:last-child) {
  margin-right: 30px;
}
.team-list {
  background-color: #f5f4fa;
}
.h2-team {
  font-weight: 700;
  font-size: 36px;
  display: flex;
  justify-content: center;
  margin-top: 188px;
  padding-top: 94px;
}
.members-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding-bottom: 94px;
}
.h4-team-members {
  font-weight: 500;
  font-size: 16px;
  margin-top: 30px;
  text-align: center;
}
.member-position {
  font-size: 16px;
  color: var(--note-link-color);
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
}
.desc-team {
  background-color: var(--text-color-white);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
footer {
  background-color: var(--background-color-menu);
}
.address-footer {
  color: var(--footer-address-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
}
.web-title-footer {
  text-decoration: none;
  font-size: 26px;
  padding-top: 60px;
}
.address {
  margin-top: 20px;
}
.links-footer {
  list-style: none;
}
.footer-mail {
  margin-top: 9px;
  margin-bottom: 9px;
}
.footer-tel {
  padding-bottom: 60px;
}
.portfolio-button {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.button-task {
  cursor: pointer;
  font-size: 16px;
  width: 121px;
  height: 38px;
}
.portfolio-button > .portfolio-button-list:not(:last-child) {
  margin-right: 8px;
}
.portfolio-card-set {
  list-style: none;
  margin-top: 56px;
  margin-bottom: 94px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.h4-task {
  font-weight: 700;
  font-size: 18px;
  padding: 20px 24px 4px 24px;
}
.p-task {
  font-size: 16px;
  color: var(--note-link-color);
  padding: 0px 24px 20px 24px;
}
.portfolio-task {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.link-icon:focus,
.link-icon:hover {
  color: var(--link-button-color);
  text-decoration: none;
}
.link-icon {
  cursor: pointer;
  color: var(--note-link-color);
  font-style: normal;
  margin-right: 10px;
}
.trump-icon {
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}
.social-media-list {
  list-style: none;
}
.social-media {
  display: flex;
  justify-content: center;
}
.social-media > .social-media-list:not(:last-child) {
  margin-right: 10px;
}
